<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>GifApp.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>3D06F3C11FE9B6BB006A4362</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3D06F3D71FE9B6BC006A4362</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3D06F3E21FE9B6BC006A4362</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
